body{

	margin: 0px;
	font-family: 'work_sansregular';
}
body *{

	box-sizing: border-box;
}
a{

	text-decoration: none;
	display: inline-block;
}
h1,h2,h3,h4,h5,h6{

	margin: 0px;
	text-align: center;
	font-family: 'work_sansbold';
	/*font-size: 25px;*/
}
.header-top{

	background-color: #000080;
	display: inline-block;
	width: 100%;
	
	padding: 20px 0px;
}
.type-1{

	list-style-type: none;
}
.type-1 li{

	float: left;
}
.custom-select {
	position: relative;
	font-family: Arial;
	width: 99px;
	margin-left: 106px;
	margin-top: -25px;
}

.custom-select select {
	display: none;
}

.select-selected {
	background-color: black;
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
	color: black;
}

.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}


.select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}


.select-items {
	position: absolute;
	background-color: black;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}


.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
.left{

	margin-left: 10px;
}
.type-2{

	list-style-type: none;
}
.type-2 li{

	float: right;
	margin-right: 10px;
}
.custom_container{

	width: 1170px;
	max-width: 100%;
	padding: 0px 15px;
	margin: 0px auto;
	
}
ul{

	margin: 0;
	padding: 0;
}
.height{

	height: 115px;
}
.type-3{

	list-style-type: none;
}
.type-3 li{

	float: right;
	margin-left: 70px;
}
.menu{

	margin-top: -64px;
	margin-bottom: 15px;
}
.header-bottom{

	width: 100%;
	background-color: #4682B4;
	display: inline-block;
	padding: 25px 0px;
	margin-top: 50px;
}
.center{

	text-align: center;
}
.clr-1 .mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
	background-color: #FFC107;
}
.clr-2 .mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
	background-color: red;
}
.section-1{

	color: #fff;
}
.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above,
.mdc-select--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
	transform: translateY(-80%) scale(0.75)!important;
}
.mdc-text-field,
.mdc-select {
	height: 37px!important;
	width: 300px !important;
}
.mdc-text-field--outlined .mdc-floating-label,
.mdc-select--outlined .mdc-floating-label {
	top: 8px!important;

}
.mdc-select__dropdown-icon{
	bottom: 6px!important;
}
.mdc-select__native-control{
	height: 100%!important;
	padding: 5px 52px 5px 16px!important
}
.search{

	background-color: #fff !important;
}
.h-1{

	border: 1px solid orange;
	padding: 10px;
	background-color: orange;
	color: #fff;
	text-shadow:1px 1px;
}
.l-1{

	border: 1px solid orange;
	padding: 10px;
}
.h-2{

	border: 1px solid #DC143C;
	padding: 10px;
	background-color: #DC143C;
	color: #fff;
	text-shadow:1px 1px;
}
.l-2{

	border: 1px solid #DC143C;
	padding: 10px;
}
.h-3{

	border: 1px solid #00BFFF;
	padding: 10px;
	background-color: #00BFFF;
	color: #fff;
	text-shadow:1px 1px;
}
.l-3{

	border: 1px solid #00BFFF;
	padding: 10px;
}
.h-4{

	border: 1px solid #483D8B;
	padding: 10px;
	background-color: #483D8B;
	color: #fff;
	text-shadow:1px 1px;
}
.l-4{

	border: 1px solid #483D8B;
	padding: 10px;
}
.h-5{

	border: 1px solid #191970;
	padding: 10px;
	background-color: #191970;
	color: #fff;
	text-shadow:1px 1px;
}
.l-5{

	border: 1px solid  #191970;
	padding: 10px;
}
.slider-1{

	background-image: url('../images/p1.jpg');
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.slider-2{

	background-image: url('../images/p3.jpg');
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.slider-3{

	background-image: url('../images/p2.jpg');
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.text{

	text-align: left;
	font-family: work_sansbold;
}
.clrr-1{

	color: orange;
}
.clrr-2{

	color:  #DC143C;
}
.clrr-3{

	color: #00BFFF;
}
.clrr-4{

	color: #483D8B;
}
.clrr-5{

	color: #191970;
}
.fsize{


	text-shadow: 1px 1px;

}
ul.slick-dots {
	margin: 0px;
	padding: 0px;
	text-align: center;
	bottom: 10px;
	position: absolute;
	left: 0;
	right: 0;


}
ul.slick-dots li{
	display: inline-block;
	margin: 0px 10px;
}
ul.slick-dots li button{

	font-size: 0px;
	background-color: #ffeb3b;
	height: 10px;
	width: 10px;
}
.virat{


	width: 300px;
	height: 289px;
	border: 2px solid #e60101;
	border-radius: 151px;

}
.lt{

	text-align: left;
}
.About{

	background-color: #DCDCDC;
	padding: 30px;
}
.travel{

	padding: 30px;
}
.tour{

	padding: 30px;
}
.pkg{

	color: red;
}
.size{

	height: 300px;
}
.pcenter{
	text-align: left;
	font-size: 16px;
}
.cardd{

	padding: 20px;
}
.pkg-1{

	color: orange;
}
.pkg-3{

	color:#4682B4;
}
.pkg-4{

	color:#483D8B;
}
.pkg-5{

	color:#A52A2A;

}
.pkg-6{

	color: #191970	;

}

@font-face {
	font-family: 'work_sansregular';
	src: url('../font/worksans-regular-webfont.eot');
	src: url('../font/worksans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/worksans-regular-webfont.woff2') format('woff2'),
	url('../font/worksans-regular-webfont.woff') format('woff'),
	url('../font/worksans-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'work_sansbold';
	src: url('../font/worksans-bold-webfont.eot');
	src: url('../font/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/worksans-bold-webfont.woff2') format('woff2'),
	url('../font/worksans-bold-webfont.woff') format('woff'),
	url('../font/worksans-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'work_sansblack';
	src: url('../font/worksans-black-webfont.eot');
	src: url('../font/worksans-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/worksans-black-webfont.woff2') format('woff2'),
	url('../font/worksans-black-webfont.woff') format('woff'),
	url('../font/worksans-black-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

select{
	border-radius: 5px;
}
.slick-arrow {
	bottom: 0;
	top: 0;
	position: absolute;
	height: 38px;
	margin: auto;
	background-color: transparent;
	border: none;
	font-size: 40px;
	z-index: 11;
}
.slick-next.slick-arrow {
	right: 0;
}
button .slick-next{

	right: 0;
	z-index: 1;
}
.holyday {
	
	border:1px solid lightgray;
	padding: 12px;
	margin-bottom: 30px;
	background-color: #fff;
}



.mdc-typography--caption ,h3 , label{
	text-align: center;
}
.holyday_txt1{
	color:#6c4c95;
}
.holyday_btn1{
	margin-bottom:15px;
	background-color: #6c4c95;
	color: #fff;
	text-shadow: 1px 1px;
}
.holyday_txt2{
	color:#d7383c;
}
.holyday_btn2{
	margin-bottom:15px;
	background-color: #d7383c;
	color: #fff;
	text-shadow: 1px 1px;
}
.holyday_txt3{
	color:#153b86;
}
.holyday_btn3{
	margin-bottom:15px;
	background-color: #153b86;
	color: #fff;
	text-shadow: 1px 1px;
}
.holyday_txt4{
	color:#a31a46;
}
.holyday_btn4{
	margin-bottom:15px;
	background-color: #a31a46;
	color: #fff;
	text-shadow: 1px 1px;
}
.holyday_txt5{
	color:#ebaf41;
}
.holyday_btn5{
	margin-bottom:15px;
	background-color: #ebaf41;
	background-image: linear-gradient(#f5e67b,#e6a02a);
	color: #fff;
	text-shadow: 1px 1px;
}
.holyday_txt6{
	color:#2d87c3;
}
.holyday_btn6{
	margin-bottom:15px;
	background-color: #2d87c3;
	color: #fff;
	text-shadow: 1px 1px;
}
.tab_section{
	padding: 0px;
	bottom: 10px;
	
}
.footer{
	background-color: #3f3f41;
}
.footer_about{
	color:#fee06c;
}
.f_about_p{
	color: white;
}
.f_img{
	margin-top: 13px;
}
.footer_destination{
	color: #ed8f4f;
}
.f_margin{
	margin-top: -25px;
}
.f_title1{
	color:#ffdb77;
}
.f_title3{
	color: #d33e58;
}
.f_title4{
	color: #6d568b;
}
.f_title5{
	color: #7679db;
}
.f_title6{
	color: #6fa5ce;
}
.footer_bottom{
	background-color: #38383a;
}
.boot{

	background-color: #f3f3f3;
}
.img-review{

	border-radius: 164px;
	text-align: center;
	margin-left: 290px;
	/* margin-top: 0px; */
	margin-bottom: 28px;

}
.b1{


	text-align: center;
	margin: 5px;
	padding: 5px;
	
	

}
.vcenter{

	text-align: center;
}
/*.slider{

	

	background-image: url("../images/w.jpg");
	height: 400px;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}*/
	.bottom{

		margin-top: 45px;
	}

	.verticalBar li {
		border: 1px solid lightgray;
		padding: 16.1px;
	}

	.listp1{

		
		background-color: red;
		text-shadow: 1px 1px;



	}
	.listp3{

		
		/*background-color: red;*/
		text-shadow: 1px 1px;


	}
	.listp4{

		
		
		/*background-color: red;*/
		text-shadow: 1px 1px;


	}
	.listp5{


		
		/*background-color: red;*/
		text-shadow: 1px 1px;


	}
	.listp6{

		
		/*background-color: red;*/
		text-shadow: 1px 1px;


	}
	.listp7{

		/*background-color: red;*/
		text-shadow: 1px 1px;


	}
	.listp8{

		
		/*background-color: red;*/
		text-shadow: 1px 1px;


	}
	.listp9{

		
		/*background-color: red;*/
		text-shadow: 1px 1px;


	}

	.listp10{

		
		/*background-color: red;*/
		text-shadow: 1px 1px;


	}
	.listp11{

		
		/*background-color: red;*/
		text-shadow: 1px 1px;


	}
	.listp12{

		
		/*background-color: red;*/
		text-shadow: 1px 1px;


	}
	.listp2{


		/*background-color: orange;*/
		text-shadow: 1px 1px;


	}


	.rigght{

		text-align: right;
	}

	$padding-base: 15px;
	$color-body: #fff;
	$color-border: #ddd;
	$color-link: #0275d8;
	$border-radius: .25rem;

	.nav-tabs {
		&--vertical {
			border-bottom: none;
			border-right: 1px solid $color-border;
			display: flex;
			flex-flow: column nowrap;
		}

		&--left {
			margin: 0 $padding-base;

			.nav-item + .nav-item {
				margin-top: .25rem;
			}

			.nav-link {
				transition: border-color .125s ease-in;
				white-space: nowrap;

				&:hover {
					background-color: lighten($color-border, 10%);
					border-color: transparent;
				}
			}

			.nav-link.active {
				border-bottom-color: $color-border;
				border-right-color: $color-body;
				border-bottom-left-radius: $border-radius;
				border-top-right-radius: 0;
				margin-right: -1px;

				&:hover {
					background-color: $color-body;
					border-color: $color-link $color-body $color-link $color-link;
				}
			}
		}
	}
	.h11{

		background-image: url("../images/p3.jpg");
		height: 550px;
		width: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;

	}
	.fcolor{

		text-shadow: 1px 1px;
	}
	.mdc-typography--headline4 {
		font-family: Roboto,sans-serif;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-size: 2.125rem;
		line-height: 2.5rem;
		font-weight: 400;
		letter-spacing: .0073529412em;
		text-decoration: inherit;
		text-transform: inherit;
		text-align: left;
	}
	.listp1:hover{

		background-color: red;
		
	}
	.listp2:hover{

		background-color: orange;
		
	}
	.listp3:hover{

		background-color: blue;
		
	}
	.listp4:hover{

		background-color: green;
		
	}
	.listp5:hover{

		background-color: maroon;
		
	}
	.listp1:hover{

		background-color: orange;
		
	}
	.listp1:hover{

		background-color: orange;
		
	}
	.listp1:hover{

		background-color: orange;
		
	}
	.listp1:hover{

		background-color: orange;
		
	}
	.listp1:hover{

		background-color: orange;
		
	}
	.listp1:hover{

		background-color: orange;
		
	}
	.listp1:hover{

		background-color: orange;
		
	}
